In [1]:
import pandas as pd

month_list = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
week_list = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
numbers = ['one', 'two', 'three', 'four', 'five']

df = pd.read_csv("categorical_df.csv")
df['month'] = df['month'].astype(pd.CategoricalDtype(categories=month_list, ordered=True))
df['week day'] = df['week day'].astype(pd.CategoricalDtype(categories=week_list, ordered=True))
df['number'] = df['number'].astype(pd.CategoricalDtype(categories=numbers, ordered=True))

df.sort_values(by=['month', 'week day', 'number'], ascending=[False, True, False], inplace=True)
df

    month week day number  value
370   dec      sun   five      0
276   dec      sun   four      1
253   dec      sun  three      2
242   dec      sun    two      3
404   dec      sun    one      4
47    dec      mon   five      0
345   dec      mon   four      1
92    dec      mon  three      2
41    dec      mon    two      3
408   dec      mon    one      4
233   dec      tue   five      0
88    dec      tue   four      1
364   dec      tue  three      2
157   dec      tue    two      3
132   dec      tue    one      4
205   dec      wed   five      0
379   dec      wed   four      1
392   dec      wed  three      2
21    dec      wed    two      3
353   dec      wed    one      4
161   dec      thu   five      0
49    dec      thu   four      1
343   dec      thu  three      2
280   dec      thu    two      3
271   dec      thu    one      4
329   dec      fri   five      0
412   dec      fri   four      1
261   dec      fri  three      2
365   dec      fri    two      3
263   dec      fri    one      4
..    ...      ...    ...    ...
194   jan      mon   five      0
95    jan      mon   four      1
341   jan      mon  three      2
137   jan      mon    two      3
40    jan      mon    one      4
184   jan      tue   five      0
58    jan      tue   four      1
371   jan      tue  three      2
214   jan      tue    two      3
307   jan      tue    one      4
136   jan      wed   five      0
14    jan      wed   four      1
234   jan      wed  three      2
79    jan      wed    two      3
170   jan      wed    one      4
124   jan      thu   five      0
19    jan      thu   four      1
174   jan      thu  three      2
109   jan      thu    two      3
248   jan      thu    one      4
0     jan      fri   five      0
83    jan      fri   four      1
191   jan      fri  three      2
254   jan      fri    two      3
84    jan      fri    one      4
163   jan      sat   five      0
366   jan      sat   four      1
186   jan      sat  three      2
218   jan      sat    two      3
311   jan      sat    one      4

[420 rows x 4 columns]